.page[data-page=discovery] {
  box-sizing: border-box;
  padding: 10px;
}

.work-preview {
  width: 100%;
  position: relative;
}

.works-wrap {
  padding: 10px 0 10px 0;
}

.work-item {
  position: relative;
  visibility: hidden;
}
.work-item:first-child {
  margin-bottom: 10px;
}
.work-item.visible {
  visibility: visible;
}

.work-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  color: #eb5e52;
  padding: 8px 5px 8px 10px;
  box-sizing: border-box;
}
.work-name {
  font-size: 16px;
}
.btn-like, .btn-remove {
  margin: 0 6px 0 6px;
  width: 25px;
  height: 25px;
  font-size: 25px;
}
.btn-like.hide, .btn-remove.hide {
  display: none;
}

.btn-page-next, .btn-page-prev, .btn-create, .page[data-page=discovery] .btn-auxiliary {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px solid #fff;
  color: #fff;
  opacity: 0.3;
}

.btn-page-next.active, .btn-page-prev.active, .btn-create.active, .page[data-page=discovery] .btn-auxiliary.active {
  opacity: 1;
}

.btn-avatar {
  height: 40px;
  width: 40px;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 15px;
  border-radius: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  box-shadow: 0px 1px 3px #aaa;
  overflow: hidden;
}

.btn-page-prev, .btn-create {
  margin-right: 10px;
}

.works-filter {
  width: 120px;
  height: 40px;
  color: #fff;
  box-sizing: border-box;
  text-shadow: 1px 1px #f8c37a;
  position: relative;
  margin-top: 5px;
}

.works-filter:before {
  z-index: -1;
  content: '';
  position: absolute;
  height: 600px;
  transform: rotateZ(40deg);
  border: 3px solid rgba(255, 255, 255, .2);
  width: 150px;
  left: -120px;
  top: -150px;
}
.works-filter.active {
  border: 1px solid #fff;
}
.works-filter.active:after {
  content: '';
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.discovery-header {
  height: 50px;
}

.split-line {
  margin: 0 8px 0 8px;
  width: 1px;
  background: #fff;
  height: 50%;
}

.avatar {
  width: 100%;
  height: 100%;
}

.cur-page {
  color: #fff;
  position: relative;
}

.cur-page:after {
  content: '';
  position: absolute;
  width: 80px;
  left: 64px;
  top: -315px;
  height: 600px;
  transform: rotateZ(40deg);
  border: 3px solid rgba(255, 255, 255, .2);
  z-index: -1;
}

.filter-dropdown {
  visibility: hidden;
  top: 100%;
  left: -1px;
  position: absolute;
  z-index: 2;
  width: 100%;
  background: rgb(250, 207, 127);
  border: 1px solid #fff;
  border-top: 0;
}
.works-filter.active .filter-dropdown {
  visibility: visible;
}
.dropdown-item {
  height: 40px;
}
.dropdown-text {
  margin-right: 13px;
}
