.loading {
  width: 30px;
  height: 30px;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 100%;
  box-sizing: border-box;
  -webkit-animation: loading-animate .9s 0.3s infinite alternate;
  border: 3px solid #e9514c;
}

.loading:before, .loading:after {
  box-sizing: inherit;
  content: '';
  display: inline-block;
  width: 30px;
  margin-left: -3px;
  margin-top: -3px;
  right: 35px;
  border: inherit;
  height: 30px;
  background: #fff;
  position: absolute;
  border-radius: 100%;
  -webkit-animation: loading-animate .9s infinite alternate;
}

.loading:after {
  left: 38px;
  -webkit-animation: loading-animate .9s .6s infinite alternate;
}
@-webkit-keyframes loading-animate {
  0%{
    -webkit-transform: scale(1);
  }
  100%{
    -webkit-transform: scale(0.9);
  }
}

