.notices {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.notice {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  margin: 3px 0 3px 0;
  width: 120px;
}
